:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-sans-serif-display: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font: 1rem/1.5 var(--font-family-sans-serif);
    color: $default-font-color;
}

.display {
    font-family: var(--font-family-sans-serif-display);
    font-weight: 800;
    color: $display-font-color;
}

.navbar-brand {
    font-family: var(--font-family-sans-serif-display);
    font-weight: 400;
}

.btn--hero {
    width: 240px;
    padding: 16px 0;
    min-height: 48px;
    text-transform: uppercase;
    font-family: var(--font-family-sans-serif-display);
    font-weight: 400;
}

.btn--default {
    width: 180px;
    font-family: var(--font-family-sans-serif-display);
    font-weight: 400;
    padding: 12px 0;
}

.navbar {
    -webkit-box-shadow: 0 9px 27px 0 rgba(82,82,82,0.25);
    -moz-box-shadow: 0 9px 27px 0 rgba(82,82,82,0.25);
    box-shadow: 0 9px 27px 0 rgba(82,82,82,0.25);
}

.nav-item.active {
    font-weight: bold;
}
